@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppins;
  src: url(/file/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: PoppinsBold;
  src: url(/file/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: PoppinsLight;
  src: url(/file/fonts/Poppins-Light.ttf);
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes bubleTranslate {
  0% {
    opacity: 0;
    margin-left: -100px;
    margin-top: -100px;
  }
  20% {
    opacity: 1;
    margin-top: 0px;
  }
  50% {
    opacity: 0;
    margin-left: 500px;
  }
  70% {
    opacity: 1;
    margin-top: -100px;
  }
  100% {
    opacity: 0;
    margin-top: -100px;
    margin-left: -100px;
  }
}

.theme-default {
  --color-primary: #061c2d;
  --color-secondary: #59fecc;
  --color-tertiary: #9df3c4;
  --color-quaternary: #d7fbe8;
  --color-text-btn: #075e4e; /* hero text btn - textBtn  */
  --color-gradient-1: #59fecc;
  --color-gradient-2: #d6f700;
  --color-text-1: #061c2d;
  --color-text-2: #506370;
}

.theme-dark {
  --color-primary: #222831;
  --color-secondary: #393e46;
  --color-tertiary: #00adb5;
  --color-quaternary: #eeeeee;
}

body * {
  transition: all 0.3s ease;
  font-family: Poppins;
}

a {
  cursor: pointer;
}

/* HIDE TYNYMCE ALERT API ERRORS AND WARNINGS  */
.tox-notifications-container {
  display: none;
}

#post-content h1 {
  font-size: 1.5em;
  font-weight: bold;
}
#post-content h2 {
  font-size: 1.25em;
  font-weight: bold;
}
#post-content h3 {
  font-size: 1em;
  font-weight: bold;
}
#post-content h4 {
  font-size: 0.875em;
  font-weight: bold;
}
#post-content h5 {
  font-size: 0.75em;
  font-weight: bold;
}
#post-content h6 {
  font-size: 0.625em;
  font-weight: bold;
}
#post-content li {
  font-size: 0.875em;
  list-style: circle;
  white-space: nowrap !important;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

iframe {
  max-width: 100%;
}
