@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-default {
  --color-primary: #1fab89;
  --color-secondary: #62d2a2;
  --color-tertiary: #9df3c4;
  --color-quaternary: #d7fbe8;
}

.theme-dark {
  --color-primary: #222831;
  --color-secondary: #393e46;
  --color-tertiary: #00adb5;
  --color-quaternary: #eeeeee;
}
