@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-default {
  --color-primary: #061c2d;
  --color-secondary: #62d2a2;
  --color-tertiary: #9df3c4;
  --color-quaternary: #d7fbe8;
}

.theme-dark {
  --color-primary: #222831;
  --color-secondary: #393e46;
  --color-tertiary: #00adb5;
  --color-quaternary: #eeeeee;
}

body * {
  transition: all 0.3s ease;
}

/* HIDE TYNYMCE ALERT API ERRORS AND WARNINGS  */
.tox-notifications-container {
  display: none;
}

#post-content h1 {
  font-size: 1.5em;
  font-weight: bold;
}
#post-content h2 {
  font-size: 1.25em;
  font-weight: bold;
}
#post-content h3 {
  font-size: 1em;
  font-weight: bold;
}
#post-content h4 {
  font-size: 0.875em;
  font-weight: bold;
}
#post-content h5 {
  font-size: 0.75em;
  font-weight: bold;
}
#post-content h6 {
  font-size: 0.625em;
  font-weight: bold;
}
#post-content li {
  font-size: 0.875em;
  list-style: circle;
}

iframe {
  max-width: 100%;
}
